<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450218454167-q253n9l9569ivbnr1l8m301o7v06nmpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450218454167-q253n9l9569ivbnr1l8m301o7v06nmpg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>450218454167-s6giqfhn13nombgn4krkic7nrp4iuina.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvmbAJ4JXaI8mFH5T2Wxr0CkvJBMj7K7g</string>
	<key>GCM_SENDER_ID</key>
	<string>450218454167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sprintsols.Palmtree</string>
	<key>PROJECT_ID</key>
	<string>palmtree-e8200</string>
	<key>STORAGE_BUCKET</key>
	<string>palmtree-e8200.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450218454167:ios:8c4652b6d275e29dbd4dd2</string>
	<key>DATABASE_URL</key>
	<string>https://palmtree-e8200.firebaseio.com</string>
</dict>
</plist>